body {
  background-color: powderblue;
}
h1 {
  color: blue;
  font-family: verdana;
}
ul {
  color:purple;
  font-family: arial;
  border: 20px groove lime;
  padding: 30px;
  background-color: yellow;
  margin: 40px;
  border-radius: 20px;
}
p {
  color: red;
  border: 5px dashed gray;
}
button {
  color: green;
  background-color: lightcoral;
  border: none;
  padding: 5px;
  font-weight: bold;
  border-radius: 10px;
}
input {
  border-radius: 5px;
  border: none;
  padding: 4px;
}
label {
  font-family: tahoma;
}