body {
  background-color: powderblue;
}
h1 {
  color: blue;
  font-family: verdana;
}
ul {
  color:purple;
  font-family: arial;
  border: 20px groove lime;
  padding: 30px;
}
p {
  color: red;
  border: 5px dashed gray;
}
button {
  color: green
}